table {
	// font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	// overflow: hidden;
	width: 100%;
	background-color: var(--table-background);
}

table td,
table th {
	border-bottom: 1px solid #e5e5e5;
	padding: 8px;
}

.id-cell {
	min-width: 50px;
}

.full-name-cell {
	max-width: 210px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.show-full-name {
	white-space: break-spaces;
	overflow: unset;
}

//   table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {
	background-color: rgba(41, 54, 135, 0.05);
}

table th {
	padding-top: 12px;
	padding-bottom: 12px;
	// font-size: 1.5rem;
	// line-height: 2.4rem;
	// font-weight: 600;
	// text-align: left;
	background: linear-gradient(0deg, #fbf7e9, #fbf7e9), #ffffff;
	color: var(--tool-admin-main-text);
	font-weight: 500;
}

table tbody tr {
	// font-weight: 400;
	// font-size: 1.4rem;
	// line-height: 2.4rem;
	color: var(--tool-admin-des);
	background-color: var(--white);
}

// Two column Table
table.two-colum-table tbody {
	display: flex;
	flex-wrap: wrap;
}
table.two-colum-table tbody tr {
	width: 20%;
	// max-height: 41px;
	line-height: 2.4rem;
	border-left: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}

table.two-colum-table td {
	font-size: 1.4rem;
	border-bottom: none;
}

// Check doe staff page
.check-code-staff-page {
	table tbody tr {
		// display: inline-block;
		// width: 250px;
	}
}

// Pagination
.pagination {
	display: flex;
	list-style: none;
	line-height: 3.9rem;
}

.page-item {
	padding: 6px 8px;
	// min-width: 64px;
	padding: 6px 16px;
	min-width: 46px;
	font-size: 1.2rem;
	font-weight: 400;
	cursor: pointer;
	text-align: center;

	&.active a {
		color: var(--tool-admin-brand);
	}
}

.next-btn-item.disabled svg,
.prev-btn-item.disabled svg {
	color: #000;
	opacity: 0.2;
}

.center-item {
	text-align: center;
}

// Popup

// .dialog-container .MuiPaper-root.MuiDialog-paper.MuiDialog-paperScrollPaper {
//  width: 634px;
//  height: 184px;
// }

#dialog-title {
	padding: 10px 0;
	background-color: var(--tool-admin-brand);
	color: var(--white);
	// font-weight: 700;
	// font-size: 1.8rem;
	// line-height: 2.2rem;
	text-align: center;
}

#dialog-description {
	// font-size: 1.6rem;
	// font-weight: 500;
	// line-height: 2rem;

	.game-name {
		// font-weight: 700;
	}
}

.dialog-container {
	.MuiDialogContent-root {
		padding-top: 20px !important;
	}
	.MuiDialogActions-root {
		justify-content: center;
	}
	.MuiButton-root {
		// font-size: 1.3rem;
		// font-weight: 500;
		// line-height: 1.6rem;
	}
	.close-btn {
		position: absolute;
		right: 0;
		color: var(--white);

		svg {
			// font-size: 2.6rem;
		}
	}
}

#dialog-content-create-game h4 {
	font-size: 1.2rem;
}

// Edit and Remove icon
.edit-icon,
.remove-icon {
	color: #1976d2;
}

// Responsive

@media screen and (max-width: 1200px) {
	.full-name-cell {
		max-width: 140px;
	}
}
@media screen and (min-width: 767px) and (max-width: 1024px) {
	table.two-colum-table td {
		font-size: 1.2rem;
	}
	.id-cell {
		min-width: 38px;
	}
	table td,
	table th {
		padding-right: 4px;
		padding-left: 4px;
	}
	.full-name-cell {
		max-width: 58px;
	}
}
